{{#if error}}
    <div>{{error}}</div>
{{/if}}
<div>

    <h2>Edit your profile</h2>
    <form action="/profile/edit" method="POST">
        <input
            name="first_name"
            required
            value="{{first_name}}"
            placeholder="First Name"
        />
        <input
            name="last_name"
            required
            value="{{last_name}}"
            placeholder="Last Name"
        />
        <input
            name="email"
            type="email"
            required
            value="{{email}}"
            placeholder="Email Address"
        />
        <input name="age" value="{{age}}" placeholder="Age" />
        <input name="city" value="{{city}}" placeholder="City" />
        <input name="homepage" placeholder="Homepage" />

        <button class="update">UPDATE</button>

    </form>
</div>