<div class="sig-buttons">
    <form action="/logout" method="POST">
        <button class="remove-data">Logout</button>
    </form>
    <button class="edit"><a class="textdeco" href="/profile/edit">Edit your
            profile</a></button>

</div>
<div class="list">
    <h2>We support this noble cause!</h2>

    {{#if signatures}}
        {{#each signatures}}
            <p class="sig-list">

                {{#if homepage}}
                    <a href="{{homepage}}">{{first_name}} {{last_name}}</a>
                {{else}}

                    {{first_name}}
                    {{last_name}}

                {{/if}}
                {{#if city}}

                    <a href="/signatures/{{city}}">{{city}}</a>

                {{/if}}
            </p>
        {{/each}}
    {{/if}}

</div>